ul, h2 {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.results {
  padding: 10px 20px;
}

.results > li {
  padding: 10px 0;
}

li {
  list-style: none;
}

ul.list {
  margin: 10px 0 0 0;
  background: #DBF0DE;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

ul.list li {
  margin: 10px;
  color: #262B27;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.red-text {
  color: #dd2B26;
}
